/*
Extinction-O-Meter - an HTML & JavaScript utility to apply differential 
extinction corrections to brightness estimates
               
Copyright 2015  Herr_Alien <garone80@yahoo.com>
                
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
                
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
                
You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl.html

*/

html, body {
    overflow-y: visible;
    overflow-x: visible;
	margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    line-height: 1.5em;
}
    #donate {
        border: solid 2px #000000;
        font-family : "Arial";
        font-size: 12px;
        padding: 15px;
        background-color : #dadadf;
    }
        
    #donate a {
        cursor: pointer;
		text-decoration: none;
    }
	
	#banner span {
		font-size: 12px;
	}
    
    #submitButton {
        display: none;
    }
    
    #container {
    margin: 0px auto 0px auto;
    text-align: left;
    max-width: 998px;
    width: 998px;
	padding: 5px;
}

#banner, #poweredBy div, #license {
    background-color : #dadadf;
    border: solid 2px #000000;
    font-family : "Arial";
}

#banner {
    margin: 0px 0px 20px 0px;
    font-size : 24pt;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
    
#chart {
    width: 500px;
    height: 500px;
}

.clear {
    clear: both;
}

a, .readyToSelect {
	cursor: pointer;
}

.normalCursor {
	cursor: default;
}


pre {
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#wizard {
    float: left;
    margin: 25px 3px 0px 0px;
    width: 495px;
    text-align: left;
}

#wizard ol {
	list-style-position: inside;
	padding: 0px;
}

#wizard ol li, #wizard ol li.alt {
    margin: 7px 0px 7px 0px;
    padding: 4px 0px 4px 0px;
}

#wizard ol li {
	padding: 4px 0px 4px 0px;
}

#wizard ol li.alt{
	background-color: #F0F0F4;
	border: solid 1px #CaCaCf;
	padding: 4px 0px 4px 4px;
}

span.title {

}

#mainarea {
    width: 998px;
    margin: 0px;
}

.selectorItem, .selectorItemActive {
  cursor: pointer;
  width: 105px;
}

.selectorItem {
  background-color : #eaeaef; 
  border : solid 1px #000000;
}

.selectorItemActive {
  background-color : #eaeaff; 
  border : solid 2px #8080ff;
}

.chartSelectionActive {
  box-shadow: 0px 0px 7px #A0A0ff;
}

.chartSelectionInactive {
  box-shadow: none;
}

#brightnessNoExtinction {
  color: #AF0000;
}

#debug {
    color: #5050C0;
}

#extinctionEstimatesHeader, .header {
    background-color : #dadadf; 
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.addAnchor, .deleteAnchor, #previous, #next, #close {
    font-weight: bold;
}

.addAnchor, #previous, #next {
    color: #208820;
}

.deleteAnchor, #close {
    color: #882020;
}

#poweredBy, #license {
	text-align: left;
    margin: 5px 0px 0px 0px;
}

#poweredBy {
	width: 800px;
}

#license  {
	padding: 5px;
	max-width: 998px;
}

#poweredBy div {
float: left;
margin: 5px 10px 5px 10px;
padding: 5px;
text-align: center;
}

#poweredBy div img {
	height: 64px; 
	border: 0px;
}

#poweredBy div a{
	text-decoration: none;
	font-family: "Arial";
}

#footer {
	margin: 0px;
	text-align: left;
	width: 998px;
}

#topmenu {
    text-align: right;
    font-size: 10px;
    margin: 0px 0px -10px 0px;
    float: right;
}

td {
	font-size: 11px;
}

.happy, .sad, .meh{
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin: 2px;
}
    
.happy {
    background-image: url('../resources/happy.png');
}
.sad {
    background-image: url('../resources/sad.png');
}
.meh {
    background-image: url('../resources/meh.png');
}

.norating {
}

svg, #svgContainer {
    margin-right: 0px;
}

#svgContainer {
    width : 500px;
    height : 500px;
    padding: 0px;
    margin: 0px;
    float: right;
}

.errorBox {
	position: absolute;
	z-index: 99;
	margin: -1px 0px 0px 0px; /* was 5 */
	width: 240px;
	max-width: 240px;
	top: 0;
	left : 0;
}

.invalidInput, .errorBox {
	background-color: #FFE8E8;
	border : solid 2px #CF0000;
}

::-webkit-input-placeholder {
    color:    #606060;
}
:-moz-placeholder {
   color:    #606060;
   opacity:  1;
}
::-moz-placeholder {
   color:    #606060;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #606060;
}

#launchtutorial {
    color: -webkit-link;
    text-decoration: underline;
}

#tutorial {
    top: 200px;
    left: 200px;
    position: absolute;
    width: 512px;
    border: solid 2px #000000;
    display: none;
    z-index: 999;
    background-color: #ffffff;
}

#tutorialbuttons , #tutorialcaption {
    width : 100%;
}

#tutorial0, #tutorial1, #tutorial2, #tutorial3, 
#tutorial4, #tutorial5, #tutorial6, #tutorial7, 
#tutorial7b, #tutorial7as, #tutorial7s,
#tutorial8, #tutorial9, #tutorial10, #tutorial11, 
 #tutorial12{
    width: 99%;
    display: none;
    margin: 5px;
}

#previous {
    margin-right: 10px;
}

#next, #close {
    margin: 10px;
}

#next, #close, #previous {
    text-decoration: underline;
}

#tutorialbuttons {
    margin-top: 10px;
}

#tutorialcaption {
    text-align: right;
    background-color : #dadadf;
    margin-bottom: 20px;
    border-bottom: solid 2px #000000;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
}
