/*
Extinction-O-Meter - an HTML & JavaScript utility to apply differential 
extinction corrections to brightness estimates
               
Copyright 2015  Herr_Alien <garone80@yahoo.com>
                
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
                
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
                
You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see https://www.gnu.org/licenses/agpl.html

*/
* {
    transition: 0.15s;
}
html, body {
    overflow-y: visible;
    overflow-x: visible;
	margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 15px;
    text-align: left;
    line-height: 1.5em;
	-webkit-user-select: text;
}

a {
    text-decoration: underline;
}

.brightnessInput {
	max-width: 55px;
	width: 100%;
}

    #donate {
        border: solid 2px #000000;
        font-family : "Arial";
        font-size: 12px;
        padding: 15px;
        background-color : #dadadf;
    }
        
    #donate a {
        cursor: pointer;
    }
	
	#banner span {
		font-size: 18px;
	}
    
    #submitButton {
        display: none;
    }
    
    #container {
    margin: 0px auto 0px auto;
    text-align: left;
    max-width: 998px;
    width: 100%;
	padding:5px 0px 5px 0px;
}

#banner, #poweredBy div, #license {
    background-color : #dadadf;
    border: solid 2px #000000;
    font-family : "Arial";
}

#banner {
    margin: 0px 0px 20px 0px;
    font-size : 24pt;
    padding: 20px 0px 20px 0px;
    text-align: center;
	width: 100%;
    max-width: 994px;
}
    
#chart {
    max-width: 500px;
    max-height: 500px;
}

.clear {
    clear: both;
    height: 1px;
    line-height: 1px;
    margin: 0px;
}

a, .readyToSelect {
	cursor: pointer;
}

.normalCursor {
	cursor: default;
}


pre {
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#wizard {
    float: left;
    margin: 30px 3px 0px 0px;
    max-width: 495px;
	width: 100%;
    text-align: left;
}

#wizard ol {
	list-style-position: inside;
	padding: 0px;
}

#wizard ol li, #wizard ol li.alt {
    margin: 7px 0px 7px 0px;
    padding: 4px 0px 4px 0px;
    border-top: solid 1px #CaCaCf;
}

#wizard ol li.alt, #results{
/*	background-color: #F0F0F4;
	border: solid 1px #CaCaCf; */
}

#mainarea {
    max-width: 998px;
    margin: 0px;
	width: 100%;
}

.selectorItem, .selectorItemActive {
  cursor: pointer;
  max-width: 105px;
  width: 100%;
}

.selectorItem {
  background-color : #eaeaef; 
  border : solid 1px #000000;
}

.selectorItemActive {
  background-color : #eaeaff; 
  border : solid 2px #8080ff;
}

.chartSelectionActive {
  box-shadow: 0px 0px 7px #A0A0ff;
}

.chartSelectionInactive {
  box-shadow: none;
}

#brightnessNoExtinction, #airmassV , #brightnessWithExtinction{
  color: #AF0000;
}

#debug {
    color: #5050C0;
	max-width: 500px;
	width: 100%;
	float: left;
}

#extinctionEstimatesHeader, .header {
    background-color : #dadadf; 
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.addAnchor, .deleteAnchor {
    font-weight: bold;
}

.addAnchor {
    color: #208820;
}

.deleteAnchor {
    color: #882020;
}

#poweredBy, #license {
	text-align: left;
    margin: 5px 0px 0px 0px;
}

#poweredBy {
	max-width: 800px;
	width:100%;
}

#license  {
	padding: 5px;
	width: 100%;
}

#poweredBy div {
float: left;
margin: 5px 10px 5px 10px;
padding: 5px;
text-align: center;
}

#poweredBy div img {
	height: 64px; 
	border: 0px;
}

#poweredBy div svg {
	height: 64px; 
	border: 0px;
}

#poweredBy div a{
	text-decoration: none;
	font-family: "Arial";
}

#footer {
	margin: 0px;
	text-align: left;
	max-width: 984px;
	width: 100%;
}

#topmenu {
    text-align: right;
    font-size: 13px;
    margin: 0px;
    float: right;
}

td {
	font-size: 14px;
}

.happy, .sad, .meh{
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin: 2px;
}
    
.happy {
    background-image: url('../resources/happy.png');
}
.sad {
    background-image: url('../resources/sad.png');
}
.meh {
    background-image: url('../resources/meh.png');
}

.norating {
}

#results {
    font-weight: bold;
    margin: 0px auto 20px auto;
    padding: 5px;
	width: 100%;
    max-width:984px;
    border-top: solid 1px #CaCaCf;
}

svg, #svgContainer {
    margin-right: 0px;
}

#svgContainer {
    max-width : 500px;
    max-height : 500px;
	width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.errorBox {
	position: absolute;
	z-index: 99;
	margin: -1px 0px 0px 0px; /* was 5 */
	width: 240px;
	max-width: 240px;
	top: 0;
	left : 0;
}

.invalidInput, .errorBox {
	background-color: #FFE8E8;
	border : solid 2px #CF0000;
}

::-webkit-input-placeholder {
    color:    #606060;
}
:-moz-placeholder {
   color:    #606060;
   opacity:  1;
}
::-moz-placeholder {
   color:    #606060;
   opacity:  1;
}
:-ms-input-placeholder {
   color:    #606060;
}

#datashareurl{
	width: 100%;
}

@media (min-width: 0px) and (max-width: 1020px) {
    #container, #banner{
        max-width: 500px;
    }
     #results, #footer{
        max-width: 486px;
    }
    #banner{
        max-width: 496px;
    }
}

h1 {
    display: inline;
    font-size: 1.25em;
}

#variableStarName {
    width: 150px;
}

#wizard > ol > li:nth-child(1) {
    border-top: none;
}

#poweredBy {
    border-top: solid 1px #cacacf;
}

#footer-nav {
	margin-top: 10px;
	text-align: center;
}

#privacy {
	margin-top: 20px;
	font-size: 12px;
	line-height: 1;
	text-align: justify;
	padding: 10px;
}